<div class="navcontainer">
  <nav class="navbar navbar-expand-lg navbar-light custom_container m-auto">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Package-tracker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto custom_ul">
          <li class="nav-item custom_li">
            <a class="nav-link custom_a" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item custom_li">
            <a class="nav-link custom_a" routerLink="/order-page">Order Page</a>
          </li>
          <li class="nav-item custom_li">
            <a class="nav-link custom_a" routerLink="/my-orders">My Orders</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  
</div>

<div class="background_image">
  <img src="assets/images/background.webp" alt="background" class="img-fluid" height="100%" width="100%">
</div>
