<div class="custom-container d-flex justify-content-center align-items-center">
  <div class="custom-card bg-light m-auto p-4">
    <h2 class="title fw-bold text-center">My Orders</h2>

    <div *ngIf="successMessage" class="alert alert-success text-center">
      {{ successMessage }}
    </div>

    <table class="table mt-4">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Seller ID</th>
          <th>Courier ID</th>
          <th>Number of Items</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.order_id }}</td>
          <td>{{ order.seller_id }}</td>
          <td *ngIf="order.courier_id != null ">{{ order.courier_id }}</td>
          <td *ngIf="order.courier_id == null ">Not Assigned</td>
          <td>{{ order.number_of_items }}</td>
          <td>{{ order.status }}</td>
          <td>

            <button class="btn btn-info me-1" [routerLink]="['/order-details', order.order_id]">Details</button>
            <button *ngIf="order.status == 'pending'" class="btn btn-danger ms-1" (click)="cancelOrder(order.order_id)">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
