<div class="custom-container d-flex justify-content-center align-items-center">
  <div class="custom-card bg-light m-auto p-4">
    <h2 class="title fw-bold text-center">My Orders</h2>

    <div *ngIf="successMessage" class="alert alert-success text-center">
      {{ successMessage }}
    </div>

    <table class="table mt-4">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Seller ID</th>
          <th>Courier ID</th>
          <th>Pickup Location</th>
          <th>Drop-Off Location</th>
          <th>Delivery Time</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.id }}</td>
          <td>{{ order.seller_id }}</td>
          <td>{{ order.courier_id }}</td>
          <td>{{ order.pickup_location }}</td>
          <td>{{ order.drop_off_location }}</td>
          <td>{{ order.delivery_time }}</td>
          <td>{{ order.status }}</td>
          <td>
            
            <button class="btn btn-info" [routerLink]="['/order-details', order.id]">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
