.splash-container {
    height: 100vh;
  }

  .animated-text {
    font-size: 64px;
    margin-bottom: 30px;
    font-family: "Cairo", sans-serif;
    padding-block: 20px;
  }

  .button-container {
    gap: 20px;
    border: none;
  }

  button .btn {
    padding: 100px 100px;
    font-size: 16px;
    border-radius: 8px;
    transition: 1s 0s all;

  }

  .btn-primary  , .btn-secondary {
    transition: 1s 0s all;
    -webkit-transition: 1s 0s all;
    -moz-transition: 1s 0s all;
    -ms-transition: 1s 0s all;
    -o-transition: 1s 0s all;
    border: none;
  }

  .btn-primary:hover,
  .btn-secondary:hover {
    background-color: black;

  }


