/* Centering the Splash Screen */
.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
  }
  
  .animated-text {
    font-size: 64px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
    font-family: "Cairo", sans-serif;
    padding-block: 20px;
  }
  
  .button-container {
    display: flex;
    gap: 20px;
  }
  
  button.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    transition: 1s 0s all;
    cursor: pointer;
  }

  button.btn:hover {
    background-color: #121c57;
  }
  
  button.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
  }
  
  button.btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
  }
  